<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Lighthouse Lab intro to web development finstagram project">
        <meta name="keyword" content="HTML, CSS, RUBY">
        <title>Finstagram</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%= yield %>   
    </body>
</html>